<div class="alert alert-danger" role="alert" *ngIf="error">
  {{ errorMsg }}
</div>
<form #paramForm="ngForm" (ngSubmit)="getVoti(paramForm.value)">
  <div class="form-group">
    <label for="as">AS:</label>
    <select class="form-control" name="as" id="as" [(ngModel)]="defaultValue">
      <option *ngFor="let anno of anni" [ngValue]="anno.val">{{anno.n}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="quad">QUAD:</label>
    <select class="form-control" name="quad" id="quad" [(ngModel)]="defaultValue1">
      <option *ngFor="let q of quad" [ngValue]="q.val">{{q.n}}</option>
    </select>
  </div>
  <div class="form-group">
       <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<div *ngIf="submitted">
<div class="alert alert-dark">
  Voti di {{nome}} {{cognome}} - classe {{classe}} - a.s. {{paramForm.value.as}}
</div>
<div class="row">
  <div class="col-sm-4"><b>Materia</b></div>
  <div class="col-sm-4"><b>Voto</b></div>
  <div class="col-sm-4"><b>Docente</b></div>
</div>
<div class="row" *ngFor="let voto of voti">
  <div class="col-sm-4">{{voto.materia}}</div>
  <div class="col-sm-4">{{voto.voto}}</div>
  <div class="col-sm-4">{{voto.docente.length == 0 ? '==' : voto.docente}}</div>
</div>
</div>
